*{ 
  padding: 0px;
    margin: 0px; 
    font-family: sans-serif;  
    font-weight: 400;
  }
#navbarMonstera{
    /* border: solid black; */
    display: flex;
    align-items: center;
   justify-content: space-evenly;
}
  #navFirst{
    /* border: solid orangered; */
  
 }
 #navMid {
  /* border: solid black; */
  display: flex;
  align-items: center;

 }
 h4{
  align-items: center;
  margin: 60px;
  font-size: 20px;
  font-weight: 300;
  justify-content: space-evenly;
    
 }

 #navEnd{
    /* border: solid black; */
    justify-content: space-between;
 }
 #navEnd{
    /* border: solid green; */
    display: flex;
    align-items: center;
    
   }
   #navEnd img{
      justify-content: space-around;
      margin: 25px;
   }
    #midWholePart1{
   /* border: solid rgb(23,78,47); */
   
 }
 #midWholePart11{
  /* border: solid black; */
  justify-content: center;
  align-items:center;
  margin-left: 50px;
  
 }
 #monstera{
   display: flex;
   font-size: 130px;
   font-weight: 700;
   margin-top: 150px;
   margin-left: 4px;
 }
  li{
   align-items: center;
   font-size: 25px;
   margin-left: 30px;
 }
 #midWholePart12{
  /* border: solid red; */
  display: flex;
  margin-top: px;
  margin-left: 50px;
  padding-top: 20px;
  /* background-color: rgb(64, 189, 41); */
 }
 #midWholePart121{
  /* border: solid blue; */
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  padding-left: 30px; 

 }
 #midWholePart122{
  /* border: solid rgb(64, 189, 41); */
  display: flex;
  display: inline;
 }
 
  #imgMain{
    /* border: solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
    padding-bottom: 500px;
  }